<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <%= button_to 'all', {}, method: :get, form_class: "dropdown-author" %>
    <% @authors.each do |author| %>
      <%= button_to author.last_name, {}, method: :get, form_class: "dropdown-author", params:{author: author.id} %>
      <%#= button_tag author.last_name, { class: "dropdown-author", author: author.id, type: 'index' } %>
      <!--      <button class="dropdown-author" type="submit" id="<%#= author.id %>" ><%#= author.last_name %></button>-->
    <% end %>
  </div>
  <%#= select_tag 'authors', options_from_collection_for_select(@authors, 'id', 'last_name'), prompt: 'all', onchange: 'window.location.href = "/?author=" + this.value' %>
</div>

<br>

<div class="container">
  <div class="row">
    <% @posts.each do |post| %>
      <div class="card" style="width: 18rem;">
        <img src="<%= post.image %>" alt="<%= post.title %>">
        <div class="card-body">
          <h5 class="card-title"><%= post.name %></h5>
          <h3 class="card-title" title="<%= post.title %>"><%= post.title %></h3>
          <p class="card-text"><%= post.content %></p>
          <div><%= link_to 'Show', post %></div>
          <div><%= link_to 'Edit', edit_post_path(post) %></div>
          <div><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<br>


<%= link_to 'New Post', new_post_path %>
<%= render 'sessions/modal' if show_login_modal? %>
<%== pagy_nav(@pagy).html_safe%>